@import "../node_modules/reset-css/reset";

$colors: (
	applejack: (stroke: #fb8240, text: #ffc06d),
	starlight-glimmer: (stroke: #bd88d3, text: #edbcf3),
	sunset-shimmer: (stroke: #d9a006, text: #f8d77b)
);
$caption-font-size: 3vmin;
$font: "Open Sans", sans-serif;
$header-font-sizes: (

);
$header-font-size: 15vmin;
$image-height: 70vh;
$image-width: 100vw;

@mixin text-stroke($value) {
	-webkit-text-stroke: $value;
	text-stroke: $value;
}

html, head, body {
	font-family: $font;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

main {
	section {
		div {
			text-align: center;
			width: 100%;
		}

		.main {
			height: 100vh;

			header {
				div {
					h1 {
							font-size: $header-font-size;
							font-weight: bolder;
							margin-bottom: 1vmin;
							margin-top: 1vmin;
							text-align: center;
					}

					@each $horse, $color in $colors {
						.#{$horse} {
							color: map-get($color, text);
							@include text-stroke(0.02vmin map-get($color, stroke));
						}
					}
				}
			}

			#picture {
				height: auto;
				width: 100%;

				figure {
					figcaption {
						font-size: $caption-font-size;
					}
				}

				.image {
					height: $image-height;
					max-height: $image-height;
					max-width: $image-width;
				}
			}
		}
	}
}

/* – */