<link async href="/icon/favicon.ico" itemprop="thumbnailUrl" rel="icon" sizes="16x16 24x24 32x32 48x48 72x72 96x96 128x128 256x256" type="image/x-icon">
<!--# if expr="$webp_suffix = .webp" -->
	<link async href="/icon/16x16.webp" rel="icon" sizes="16x16" type="image/webp">
	<link async href="/icon/24x24.webp" rel="icon" sizes="24x24" type="image/webp">
	<link async href="/icon/32x32.webp" rel="icon" sizes="32x32" type="image/webp">
	<link async href="/icon/48x48.webp" rel="icon" sizes="48x48" type="image/webp">
	<link async href="/icon/72x72.webp" rel="icon" sizes="72x72" type="image/webp">
	<link async href="/icon/96x96.webp" rel="icon" sizes="96x96" type="image/webp">
	<link async href="/icon/128x128.webp" rel="icon" sizes="128x128" type="image/webp">
	<link async href="/icon/256x256.webp" itemprop="image" rel="icon" sizes="256x256" type="image/webp">
	<meta content="https://<!--# echo var='host' -->/icon/256x256.webp" property="og:image">
	<meta content="image/webp" property="og:image:type">
<!--# else -->
	<link async href="/icon/16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link async href="/icon/24x24.png" rel="icon" sizes="24x24" type="image/png">
	<link async href="/icon/32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link async href="/icon/48x48.png" rel="icon" sizes="48x48" type="image/png">
	<link async href="/icon/72x72.png" rel="icon" sizes="72x72" type="image/png">
	<link async href="/icon/96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link async href="/icon/128x128.png" rel="icon" sizes="128x128" type="image/png">
	<link async href="/icon/256x256.png" itemprop="image" rel="icon" sizes="256x256" type="image/png">
	<meta content="https://<!--# echo var='host' -->/icon/256x256.png" property="og:image">
	<meta content="image/png" property="og:image:type">
<!--# endif -->
<meta content="256" property="og:image:width">
<meta content="256" property="og:image:height">
<meta content="https://<!--# echo var='host' -->/icon/256x256.webp" name="twitter:image">