<meta charset="utf-8">
<base href="https://<!--# echo var='host' -->" target="_blank">
<link href="https://<!--# echo var='host' -->" itemprop="url" rel="canonical" type="text/html">
<link href="/manifest.jsonmanifest" rel="manifest" type="application/manifest+json">
<link href="/sitemap.xml" rel="sitemap" type="text/xml">
<meta content="/browserconfig.xml" name="msapplication-config">
<meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
<meta content="<!--# echo var='siteTitle' -->" itemprop="alternateName" name="title" property="og:title">
<meta content="<!--# echo var='siteDescription' -->" itemprop="description" name="description" property="og:description">
<meta content="<!--# echo var='siteKeywords' -->" itemprop="keywords" name="keywords">
<meta content="website" property="og:type">
<meta content="https://<!--# echo var='host' -->" property="og:url">
<meta content="the" property="og:determiner">
<meta property="fb:admins" content="otaku12">
<meta content="summary" name="twitter:card">
<meta content="@CorpulentBrony" name="twitter:site">
<meta content="<!--# echo var='siteTitle' -->" name="twitter:title">
<meta content="<!--# echo var='siteDescription' -->" name="twitter:description">
<link href="//plus.google.com/+CorpulentBrony" itemprop="author" rel="author external me publisher" type="text/html">
<link href="//iwtcits.com" rel="bestpony external" type="text/html">
<link href="//creativecommons.org/licenses/by-nc-sa/4.0/" itemprop="license" rel="code-license content-license external license" type="text/html">
<link href="//github.com/CorpulentBrony/<!--# echo var='host' -->/issues" rel="external issues" type="text/html">
<script itemprop="mainEntity" type="application/ld+json">
	<!--# include file="structured-data.min.jsonld" -->
</script>
<script type="application/ld+json">
	<!--# include file="fact-check.min.jsonld" -->
</script>
<script type="application/ld+json">
	<!--# include file="logo.min.jsonld" -->
</script>