<meta charset="utf-8">
<base href="https://worst.horse" target="_blank">
<link href="https://worst.horse" itemprop="url" rel="canonical" type="text/html">
<link href="/manifest.jsonmanifest" rel="manifest" type="application/manifest+json">
<link href="/sitemap.xml" rel="sitemap" type="text/xml">
<meta content="/browserconfig.xml" name="msapplication-config">
<meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
<meta content="Worst Horse" itemprop="alternateName" name="title">
<meta content="Informing the world exactly who the worst horse is." itemprop="description" name="description">
<meta content="worst horse, worst pony, brony, my little pony, friendship is magic, applejack, starlight glimmer, sunset shimmer, corpulent brony" itemprop="keywords" name="keywords">
<link href="//plus.google.com/+CorpulentBrony" itemprop="author" rel="author external me publisher" type="text/html">
<link href="//iwtcits.com" rel="bestpony external" type="text/html">
<link href="//creativecommons.org/licenses/by-nc-sa/4.0/" itemprop="license" rel="code-license content-license external license" type="text/html">
<link href="//github.com/CorpulentBrony/worst.horse/issues" rel="external issues" type="text/html">
<script itemprop="mainEntity" type="application/ld+json">
	<!--# include file="structured-data.min.jsonld" -->
</script>
<script type="application/ld+json">
	<!--# include file="fact-check.min.jsonld" -->
</script>
<script type="application/ld+json">
	<!--# include file="logo.min.jsonld" -->
</script>
<!-- <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript> -->