<meta charset="utf-8">
<link href="/mainfest.json" rel="mainfest" type="application/manifest+json">
<meta content="/browserconfig.xml" name="msapplication-config">
<meta content="width=device-width, height=device-height, initial-scale=1" name="viewport">
<base href="https://worst.horse">
<meta content="Informing the world exactly who worst horse is." name="description">
<link href="//iwtcits.com" hreflang="en" rel="bestpony external" type="text/html">
<link href="//plus.google.com/+CorpulentBrony" hreflang="en" rel="external publisher" type="text/html">
<link href="//creativecommons.org/licenses/by-nc-sa/4.0/" hreflang="en" rel="external license" type="text/html">