<link async href="/css/loading.min.css" hreflang="en" rel="stylesheet" type="text/css">
<div class="overlay" id="loading">
	<figure>
		<picture>
			<!-- <source srcset="/applelasso.webp" type="image/webp"> -->
			<source srcset="/applelasso.apng" type="image/apng">
			<img alt="Please wait..." src="/applelasso.gif" type="image/gif">
		</picture>
		<figcaption><span class="color-text-flow"><span>F</span><span>e</span><span>t</span><span>c</span><span>h</span><span>i</span><span>n</span><span>g</span> <span>w</span><span>o</span><span>r</span><span>s</span><span>t</span> <span>h</span><span>o</span><span>r</span><span>s</span><span>e</span><span>.</span><span>.</span><span>.</span></span></figcaption>
	</figure>
</div>