<link async href="/css/loading.min.css" hreflang="en" rel="stylesheet" type="text/css">
<div class="overlay" id="loading">
	<figure>
		<picture>
			<source srcset="/<!--# echo var='siteLoadingImageName' -->.apng" type="image/apng">
			<source srcset="/<!--# echo var='siteLoadingImageName' -->.webp" type="image/webp">
			<img alt="Please wait..." src="/<!--# echo var='siteLoadingImageName' -->.gif" type="image/gif">
		</picture>
		<figcaption><span class="color-text-flow"><!--# echo var="siteLoadingCaption" encoding="none" --></figcaption>
	</figure>
</div>