<!--# if expr="$noscript = yes" -->
	<figure id="pictureFigure" itemprop="mainEntityOfPage" itemscope itemtype="//schema.org/VisualArtwork">
<!--# else -->
	<figure class="hidden" id="pictureFigure" itemprop="mainEntityOfPage" itemscope itemtype="//schema.org/VisualArtwork">
<!--# endif -->
	<picture id="pictureElement" itemprop="encoding">
		<!--# if expr="$noscript = yes" -->
			<img class="image" itemprop="image" src="image" alt="Applejack is worst horse">
		<!--# endif -->
	</picture>
	<figcaption>
		<!--# if expr="$noscript = yes" -->
			Image hosted by <a href="//derpibooru.org" itemprop="publisher" itemscope itemtype="//schema.org/Organization" rel="external">Derpibooru</a>.  Cannot provide further source information unless you enable JavaScript and/or get a better browser.
		<!--# else -->
			<a id="anchorImage" itemprop="url" rel="external">Image</a><span class="ifAuthor"> by <cite itemprop="author" itemscope itemtype="//schema.org/Person"><span id="citeAuthor" itemprop="name"></span></cite></span><span id="ifSource"> (<a id="anchorSource" itemprop="sameAs" rel="cite external">source</a>)</span><span class="ifAuthor"> and</span> hosted by <a href="//derpibooru.org" itemprop="publisher" itemscope itemtype="//schema.org/Organization" rel="external">Derpibooru</a>.
		<!--# endif -->
	</figcaption>
</figure>